

.card-mini {
  width: 320px;
  height: 516px;
  background-color: #1E1E1E;
  padding: 10px;
  border-radius: 15px;
  // margin-bottom: 15px;
  margin: 10px;
  h3 {
    margin-bottom: 0;
    margin-right: 10px;
  }
  p {
    margin-bottom: 2px;
  }
  &__wrapper {
    position: relative;
    height: 100%;
    // background-color: #2C2C2C;
  }
  &__name {
    padding-left: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #2C2C2C;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  &__img {
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    max-width: 100%;
    background-color: #2C2C2C;
    margin-bottom: 5px;
    img {
      border-radius: 15px;
      display: block;
      height: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__creator {
    display: flex;
    // height: 11%;
    // justify-content: space-between;
    border-radius: 100%;
    align-items: flex-end;
    background-color: #2C2C2C;
    border-radius: 10px;
    // padding: 10px;
    margin-bottom: 5px;
    background: unset;
    height: unset;
    padding: unset;
    padding-left: 4px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 100%;
    }
  }
  &__social {
    padding: 2px;
    display: flex;
    background-color: #2C2C2C;
    border-radius: 10px;
    margin-bottom: 6px;
    justify-content: space-between;
    &-likes {
      display: flex;
      align-items: center;
      &-count{
        margin: 0 5px;
      }
    }
    &-dislikes {
      display: flex;
      align-items: center;
      &-count{
        margin: 0 5px;
      }
    }
    &_left {
      display: flex;
    }
    button {
      cursor: pointer;
      height: 45px;
      width: 45px;
      background-color: rgba(1, 1, 1, 0.0);
      border-radius: 100%;
      border: none;
      img {
        height: 90%;
      }
    }
  }
  &__components {
    background-color: #2C2C2C;
    border-radius: 10px;
    padding: 15px;
    height: 25%;
    overflow-y: auto;
    &_component_stats {
      display: flex;
      justify-content: space-between;
      p {
        width: 40%;
      }
    }
  }
  &__component__divider {
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  &__totals {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    height: 70px;
    width: 100%;
    background-color: #2C2C2C;
    bottom: 0px;
    border-radius: 10px;
    h3 {
      margin-bottom: 10px;
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
      &-item {
        width: 40%;
      }
    }
  }
  &__plan-button {
    background-color: #2C2C2C;
    position: absolute;
    top: 5px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 80%;
      // width: 50%;
    }
  }
  &__deleteButton {
    background-color: #2C2C2C;
    position: absolute;
    top: 5px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 80%;
    }
  }
}