
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; 
  min-height: 100vh;
  padding: 10px 70px;
  padding-bottom: 0;
  
  background: rgb(255,198,1);
  background: linear-gradient(151deg, rgba(255,198,1,1) 0%, rgba(233,129,4,1) 84%);
  &__container {
    height: 100%;
    position: relative;
    max-width: 1840px;
    margin: 0 auto;
    display: flex;
    background: rgb(44,44,44);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  &__wrapper {
    
    min-height: 100vh;
    width: 1510px;
    padding: 30px 30px;
    // padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  &__wrapper_top {
    display: flex;
    justify-content: space-around;
  }
  &__content {
    width: 57%;
  }
  &__content_right {
    width: 38%;
  }
}