


.dashboard {
  position: relative;
  &__wrapper {
    height: 93%;
    display: flex;
    flex-wrap: wrap;
  }
  &__navbar {
    display: flex;
    padding: 10px 5px;
    margin-top: -15px;
    background-color: #1E1E1E;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 15px;
    &__input {
      border-radius: 10px;
      border: none;
      margin: 0 10px;
      padding-left: 10px;
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: initial;
      } 
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      width: 100px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      &_active {
        color: #fff;
        background-color: #F8B002;
      }
    }
  }
  .ml {
    margin-left: 40px;
  }
}

