

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  // overflow: hidden; 
  button {
    color: #000;
  }
  input {
    color: #000;
  }
}


.input-wrapper {
  position: relative;
}
.error {
  color: red;
  margin-left: 2px;
  margin-top: -10px;
  font-size: 16px;
  position: absolute;
}
.error__sign-up {
  margin-top: -24px;
}
.error-for-sign-in {
  font-size: 18px;
  top: 45%;
}

p {
  margin: 0;
  padding: 0;
}


/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* Styling the thumb (draggable portion) */
::-webkit-scrollbar-thumb {
  background-color: #545454; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

/* Styling the track (background) */
::-webkit-scrollbar-track {
  background-color: #2C2C2C; /* Color of the track */
}

/* Styling the buttons on the scrollbar */
::-webkit-scrollbar-button {
  display: none;
  background-color: #ccc; /* Color of the buttons */
}

/* Styling the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Color of the corner */
}